extends layout

block content
	.jumbotron
		.container
			h1 How May  I Help You?
			p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui dicta minus molestiae vel beatae natus eveniet ratione temporibus aperiam harum alias officiis assumenda officia quibusdam deleniti eos cupiditate dolore doloribus!
			a.btn.btn-primary.btn-lg(href = '/contact') Learn more &raquo;
	.container
		.row
			.col-md-6
				h2 About
				p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui dicta minus molestiae vel beatae natus eveniet ratione temporibus aperiam harum alias officiis assumenda officia quibusdam deleniti eos cupiditate dolore doloribus!
				a.btn.btn-default(href = '/about') View Details
			.col-md-6
				h2 Contact
				p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui dicta minus molestiae vel beatae natus eveniet ratione temporibus aperiam harum alias officiis assumenda officia quibusdam deleniti eos cupiditate dolore doloribus!
				a.btn.btn-default(href = '/contact') View Details